<?xml version="1.0"?>
<!-- Example of launch rviz with a custom rviz config to have selected topics preloaded -->
<launch>
  <!-- Publishes static joint transforms (lidar, cameras, etc) to /tf -->
  
  <param name="/use_sim_time" value="false" />

  <arg name="rviz_config" default="$(find usydrx_bringup)/config/basic_rviz.rviz" />
  <node pkg="rviz" type="rviz"
        name="wamv_visualization" args="-d $(arg rviz_config)" />

        
</launch>
