<?xml version="1.0"?>
<launch>    

    <param name="/use_sim_time" value="true" />

	<include file="$(find usydrx_bringup)/launch/view_rviz.launch"/>
    <param name="wamv/robot_description" command="$(find xacro)/xacro &#x002D;&#x002D;inorder '$(find usydrx_sim_bringup)/urdf/usyd_vrx_wamv.urdf'"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="wamv_odom_pub" args="0 0 0 0 0 0   wamv/odom odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wamv_map_pub" args="0 0 0 0 0 0   map wamv/odom" />



</launch>
