<?xml version="1.0"?>
<launch>    
	<include file="$(find usydrx_bringup)/launch/view_rviz.launch"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="wamv_odom_pub" args="0 0 0 0 0 0   wamv/odom odom" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="wamv_odom_pub" args="0 0 0 0 0 0   wamv/map wamv/odom" />

</launch>
