<?xml version="1.0"?>
<launch>
    <node  name="nav_inode" pkg="usydrx_lcm_bridge" type="nav_data_bridge.py"/>

    <include file="$(find usydrx_lcm_bridge)/launch/localisation.launch">
    </include>
    <node  name="cmds_pub" pkg="usydrx_lcm_bridge" type="control_cmds_to_lcm.py" output="screen"/>

</launch>


