<?xml version="1.0"?>
<launch>

    <arg name="vehicle" default="wamv" />
    
    <!-- <node pkg="tf" type="static_transform_publisher" name="wamv_odom_tf_broadcaster" args="0 0 0 0 0 0 odom wamv/odom  1000" /> -->

    <node pkg="usydrx_navigation" type="mapping" name="mapping" output="screen">
        <param name="~width" value="1024"/>
        <param name="~resolution" value="0.4"/>
        <param name="~offset_x" value="200.0"/>
        <param name="~offset_y" value="100.0"/>
        <param name="~increment" value="10"/>
        <param name="~decrement" value="4"/>
        <param name="~clr_range" value="30"/>
        <param name="~min_range" value="15"/>

        <remap from="odom" to="/wamv/odom"/>
        <remap from="scan" to="/wamv/sensors/lidars/lidar_wamv_front/scan"/>
        
    </node> 



    

</launch>
